/* Zero's out CSS */
*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
  border-radius:15px;
}

.wrapper {
  border:4px solid green;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  height: 700px;
  padding:0px 20px;
  margin:30px;
  background-color:green;
}

.side-bar,nav,.content-holder,.hero{
  border:4px solid purple;

}

.nav-content,.side-bar-content,.hero-content{
  border:4px solid pink;
}

nav{
  height:120px;
  padding:30px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background-color:yellow;
}

.nav-content{
  height:80px;
  width:120px;
  background-color: blue;
}

.content-holder{
  display:flex;
  height:500px;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  background-color: yellow;
}

.side-bar{
  height:400px;
  width:200px;
  padding:10px;
  display:flex;
  flex-wrap: wrap;
  flex-direction:;
  align-content: flex-end;
  justify-content: center;
  background-color: blue;
}

.side-bar-content{
  height:70px;
  width:70px;
  margin:5px;
  background-color: purple;
}


.hero{
  height:400px;
  width:500px;
  padding:10px;
  display:flex;
  flex-wrap: wrap;
  background-color: blue;
}

.hero-content{
  height:110px;
  width:110px;
  margin:20px;
  background-color: purple;
}