* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    background-color: yellow;
}

.col {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

.row {
    padding: 10px;
    border: 3px solid blue;
}

@media only screen and (max-width: 623px) {
    .sm-4 {
        width: 100%;
    }
    .sm-0 {
        display: none;
    }
}

@media only screen and (min-width: 624px) {
    .med-2 {
        width: 49%;
        background-color: blueviolet;
    }

}

@media only screen and (min-width: 1252px) {
    .lg-1 {
        width: 24%;
        background-color: green;
    }
    .lg-3 {
        width: 75%;
        background-color: green;
    }
}