.row {
    display: flex;
    background-color: antiquewhite;
    height: 60px;
    color: white;
}

.col, .col-2, .col-3 {
    flex: 1;
    background-color: teal;
    margin: 5px;
    padding: 15px;
}

.col-2 {
    flex:2
}

.col-3 {
    flex:3
}