* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;

}

header {
    background-color: black;
}

.headerBox {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 5px;
    max-width: 800px;
    margin: auto;
}

.headerBoxLeft {
    display:inline;
    display: flex;
    justify-content: flex-start;
}

.header-links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-links li {
    margin: 0px 20px;
}

.header-btn {
    height: 50%;
    margin: 10px;
    background-color: #17a4ba;
    color: white;
    padding: 3px 10px;
}

main {
    display:flex;
    margin-top: 20px;
    max-width: 800px;
    margin: 20px auto;
}

.mainContent {
    flex: 2;
    border: 1px;
    display: flex;
    flex-direction: column;
    margin-right:20px;
}
.userCard {
    border: 3px solid gray;
    margin-bottom: 20px;
}

.cardHead {
    background-color: #17a4ba;
    height: 60px;
    padding-left: 20px;
}

.headshot {
    border-radius: 50%;
    border: 2px solid lightgray;
    margin-top: 17px;
    padding: 3px;
    background-color: white;
}

.smallHeadshot {
    border-radius: 50%;
    padding-right:5px;
    /* border: 1px solid lightgray; */
    /* margin-top: 17px; */
    /* padding: 5px; */
    /* background-color: white; */
}

.contentBox h2,
.contentBox h3,
.contentBox p, 
#userCardLocation,
#userCardProfile {
    padding-left: 20px;
    /* padding-bottom: 5px; */
    padding-top: 7px;
}

#userCardUserName {
    margin-top: 40px;
}
#userCardLocation {
    padding: 8px 25px;
}

.connectionRequestsList {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.connectionListLeft {
    display: flex;
    align-items: center;
    margin-left: 5px;
}
#userCardProfile {
    padding: 8px 20px;
    margin-bottom: 8px; 
}

#userCardProfile a {
    color: #2678e4;
}

.educationDates {
    color: gray;
}
.contentBox {
    border-left: 3px solid gray;
    border-right: 3px solid gray;
    border-bottom: 3px solid gray;
    margin-bottom: 20px;
    padding-bottom: 8px;
}
.sideBar {
    flex:1;
}
/* .connRequests {
        border: 3px solid gray;
        margin-bottom: 20px;
}

.yourConn {
    border: 3px solid gray;
    margin-bottom: 20px;
}
 */
.boxHead {
    display:flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 8px;
}

.boxBottom {
    border-top: 3px solid gray;
}

.connectionCount {
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 50%;
    padding: 3px;
    margin-right: 10px;
    /* border: 1px solid black; */
    background-color: gray;
    /* width: 3rem; */
    /* height: 20px; */
}

.viewMore {
    margin: 5px -5px;
}

.viewMore a {
    color: #2678e4;
}